# fly.toml app configuration

app = "climate-trace-emissions-reduction-pathways-beta"
primary_region = "dfw"

[build]

[http_service]
  internal_port = 8501
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "4gb"
  cpu_kind = "shared"
  cpus = 2
